$fuente_principal:"Open Sans", sans-serif;
$fuente_principal2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// COLORES
$blanco: #fff;
$negro: #000;
$rosado: #ffcad4;
$rosadofuerte: #fb6f92;
$amarillofuerte: #fca311;
$amarillo:#faedcd;
$gris: #f2f2f2;
$grisOscuro: #3c4045;
$lila: #cdb4db;
$celeste: #219ebc;
$celesteclaro: #bde0fe;
$azulmarino: #1e2b38;
$verde: #25d366;
$verdete:#64AD15;
$verdeclaro:#B7E28A;
$fucsia: #c13584;
$rojo: #cd201f;


// MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;